body{
    background-image: url(r4f105707_rrd_tratores_serie_9r_maior_trator_articulado_gradeando_large_e2a5954bf051879aedfe79fd8c6861d4b338c22b\ \(1\).avif);
    background-size: cover;
}

.l{
display: flex;
justify-content: center;
 }




